* {
  margin: 0;
  padding: ;
}
button {
  border: cornflowerblue;
  background-color: cornflowerblue;
  display: inline;
  padding: 10px;
  margin: 10px;
  border-radius: 5%;
}

button:hover {
  color: grey;
  opacity: 0.9;
  color: white;
}

main {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
}
header {
  color: white;
  background-color: rgb(39, 39, 39);
}

section {
  display: grid;
  padding: 15%;
  grid-template-columns: repeat(3, 1fr);
}
.increase {
  justify-self: end;
  font-size: 16px;
}
.decrease {
  justify-self: start;
  font-size: 16px;
}

.increase button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.increase button span:after {
  content: "\002B";
  position: absolute;
  opacity: 0;
  font-size: 16px;

  top: -2px;
  right: -20px;
  transition: 0.5s;
}

.increase button:hover span {
  padding-right: 25px;
}

.increase button:hover span:after {
  opacity: 1;
  right: 0;
}
.number span {
  color: red;
}
.decrease button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.decrease button span:after {
  content: "\2212";
  position: absolute;
  opacity: 0;
  font-size: 16px;

  top: -2px;
  right: -20px;
  transition: 0.5s;
}

.decrease button:hover span {
  padding-right: 25px;
}

.decrease button:hover span:after {
  opacity: 1;
  right: 0;
}
